### macOS ###
.DS_Store

### Jupyter ###
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

### Python ###
__pycache__/
*.py[cod]
*$py.class


### Logs ###
*.log

### Temporary files ###
*.tmp
*.temp
*.out

### Data ##
data/
*.parquet
*.feather
*.fgb
*.csv
*.tif
*.zip
*.geojson
*.json
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gpkg

# Private Notebooks
gss25/
